# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]

# Banco SQLite
db.sqlite3
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivo para testes de lógica.
testes.py